.cardContainer {
  position: relative;
}
.card {
  background-color: white;
  padding: 1em;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
  overflow: hidden;
  position: relative;
  margin-bottom: 2em;
}

.date {
  color: grey;
}

.title {
  font-weight: 600;
}

.desc {
  color: gray;
}
.list {
  margin-block-start: 0em !important;
  padding-inline-start: 1.4em !important;
}

.deleteButton {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: red;
  color: white;
  padding: 3px 6px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.editButton {
  position: absolute;
  top: 10px;
  right: 50px;
  background-color: blue;
  color: white;
  padding: 3px 6px;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: black;
}

.deleteIcon,
.editIcon {
  width: 18px;
}
